.grid {
    display:grid;
    background-color: grey;
    width:150%;

}
.grid div {
    display: inline-block;
    border: 1px solid black;
    width:100%;
    padding-bottom: calc(100% - 2px);
}

.active {
    background-color: blue;
}

.inactive{
    background-color: none;
}