.controlPanel{
    position: fixed;
    height: 100vh;
    width: 10vw;
    background-color: rgba(122, 122, 122, 0.5);
    top:0;
    left:0;
    margin:0;

}

.controlPanelPlaceHolder{
    display:inline-block;
    height: 100vh;
    width: 10vw;
    top:0;
    left:0;
    margin:0; 
}

.container{
    display:grid;
    grid-template-columns: 10vw 90vw;
}

.input{
    width: 90%;
    height: 1.5vw;
    margin: 0.05vw 0.1vw;
    font-size: 1vw;
}

.label{
    font-size: 1vw;
}